<ion-header>
	<ion-navbar>
		<ion-title>Transportes Disponíveis</ion-title>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card *ngFor='let transporte of evento.transportes'>
		<ion-card-content tappable (click)="acaoTransporte(transporte)">
			<div style="position: relative">
				<ion-fab right top *ngIf="transporte.vinculoUsuarioLogado">
					<button ion-fab>
        				<ion-icon name='md-checkmark'></ion-icon>
      				</button>
				</ion-fab>
			</div>

			<ion-item>
				<h2>{{transporte.empresa.nome}}</h2>
				<p>{{transporte.veiculo.modelo}}</p>
			</ion-item>
			<p>Lugares disponíveis: {{transporte.veiculo.capacidade - transporte.pessoas.length}}</p>
		</ion-card-content>
	</ion-card>
	<ion-row *ngIf="vinculadoEvento">
		<ion-col class="signup-col">
			<button ion-button class="submit-btn" full type="button" (click)="removerUsuarioTransporte(evento)">Não irei mais</button>
		</ion-col>
	</ion-row>
</ion-content>