<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>
			Member Area
		</ion-title>
		<ion-buttons end>
			<button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content class="home" padding>
	<div padding>
		<ion-segment [(ngModel)]="menu">
			<ion-segment-button value="eventos">
				Meus Eventos
			</ion-segment-button>
			<ion-segment-button value="transportes">
				Eventos Transportes
			</ion-segment-button>
		</ion-segment>
	</div>

	<div [ngSwitch]="menu">
		
		<div *ngSwitchCase="'eventos'">

			<ion-card *ngFor='let evento of eventos' tappable (click)="detalheEvento(evento)">
				<img [src]="evento.foto" *ngIf="evento.foto" />
				<ion-card-content>
					<ion-item>
						<h2>{{evento.nome}}</h2>
						<p>{{evento.cidade.nome}} - {{evento.data | date: 'dd/MM/yyyy'}}</p>
					</ion-item>
					<p>
						{{evento.descricao}}
					</p>
				</ion-card-content>
			</ion-card>

		</div>
		
		<div *ngSwitchCase="'transportes'">

			<ion-card *ngFor='let evento of eventosTransporte' tappable (click)="detalheEventoTransporte(evento)">
				<img [src]="evento.foto" *ngIf="evento.foto" />
				<ion-card-content>
					<ion-item>
						<h2>{{evento.nome}}</h2>
						<p>{{evento.cidade.nome}} - {{evento.data | date: 'dd/MM/yyyy'}}</p>
					</ion-item>
					<p>
						{{evento.descricao}}
					</p>
				</ion-card-content>
			</ion-card>

		</div>

	</div>
</ion-content>